* {
    padding: 0;
    margin: 12;
    box-sizing: border-box;
    border-color: black;
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 22px;
    color: beige;
}
#container {
    max-width: 1024px;
    margin: 0 auto;
}
main {
    background: gray;
    font-size: 20px;
    padding: 1rem;
}
footer {
    background: #555;
    height: 20rem;
    text-align: center;
}

/* NAV */
nav {
    background: beige;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}
nav ul {
    list-style-type: none;
}

nav ul li {
    color: black;
    border-right: 5px solid beige;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 15px;

}

/* MAIN */
main > header {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight: 27px;
}   

.produto { margin-bottom: 20px; cursor: pointer; }
.produto p {
    background-color: gray;
    color:yellow;
    padding: 5px 10px;
    font-family: Verdana, Tahoma, sans-serif;
}
.produto p:hover {
    transform: rotate(-5deg); 
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    max-width: 300px;
}
